<h1>Favorites</h1>

<% @favs.each do |fav| %>
    <p>
	<% if fav.photos.first %>
    <%= image_tag fav.photos.first.avatar.thumb.url %>
    <% end %>
	<%= link_to fav.first_name,  profile_path(fav) %>
	<%= fav.tagline %>
	</p>
	<% end %>