<h1>Conversations</h1>

<% if @mycons %>
<% @mycons.each do |chat| %>
	<p>
	<%= link_to "Conversation", conversation_path(chat) %> between <%= chat.users.first.profile.first_name %> and <%= chat.users.last.profile.first_name %>
	</p>
<% end %>
<% end %>
