<h1>Frequently Asked Questions</h1>

<p><span class="lead">Can other users see my email address?</span><br />
No, there is no way for other people to see your email address unless you give it to them in a conversation.</p>

<p><span class="lead">Why don't profiles show age, height, weight, etc?</span><br />
Our site is centered on compassionate communication.  While you can search for other people based on height, age, weight, and other factors we do not display all this information.  It would be rude to ask someone you meet in person their age or weight right off the bat, but you many learn these things the more you talk with someone, as could happen here through a conversation.  We propose that dating is more fluid than we may believe, and these factors are more preference guidelines than hardlines.  We also mask this information to keep from commodifying people.  This is not an online store or window shop for human beings.  If you want to know personal information about someone, ask them about it.</p>

<p><span class="lead">Why only one message per day?</span><br />
We limit the number of messages you can send in a day to make communication more precious.  With only one message, we hope you will consider your words carefully and really try to invest some interest in another person's life.</p>

<p><span class="lead">Any advice for writing a profile?</span><br />
Our profiles are short, so be concise.  What drives you as a person?  What motivates you?  What is your passion?  Lots of people hike, workout, dance, etc. but these things are not terribly descriptive - they are great to put in your likes, though!  Put things in your profile that let others know what type of person you are, but also inspire them to start a conversation by asking questions about your interests and uniqueness.</p>

<p><span class="lead">Why augmented dating?</span><br />
We propose that people actually date physically and in person, not online.  We would like to augment this actual dating with an online introductory component.  But, we do not propose that anyone actually dates someone online - the goal is to meet someone awesome in person!</p>

<p><span class="lead">What's the difference between a conversation and a message?</span><br />
You can only start one conversation with another user per day.  That conversation, though, can have many messages exchanged within it.</p>

<p><span class="lead">Is there a way for me to start more conversations per day, or to see who has favorited me?</span><br />
Not yet, but there will be...</p>

<p><span class="lead">I want to help make Sapion better!</span><br />
Awesome.  Send us some <%= link_to "feedback", support_path %>.</p>