<div class="text-center">
	<br />
<h1>Questions? Comments? Concerns?</h1>
<br />
<p class="lead span8 offset2">Check out the <%= link_to "frequently asked questions", faq_path %> first, and if your question isn't answered there, please drop us a note by emailing:<br /> support at sapion dot com.</p>
</div>